* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row-limit-size {
  max-width: 1400px;
  margin: 0 auto;
}

@font-face {
  font-family: "gotham-medium-italic";
  src: url(../fonts/gotham-medium-italic.ttf);
}
@font-face {
  font-family: "gotham-Book";
  src: url(../fonts/Gotham-Book.otf);
}
@font-face {
  font-family: "VisualistDemoRegular";
  src: url(../fonts/VisualistDemoRegular.ttf);
}
@font-face {
  font-family: "jackie";
  src: url(../fonts/jackie.ttf);
}
@font-face {
  font-family: "jackie bold";
  src: url(../fonts/Jackie\ Bold.otf);
}
.title-cart {
  text-align: center;
  font-size: 3rem;
  margin-top: 40px;
  font-family: "jackie bold";
  color: #FC177F;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.cart-container {
  height: auto;
  padding: 20px;
  border: none;
  color: #333;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.cart-items {
  border: none;
  width: 100%;
  font-family: "Gotham Book";
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
}
.cart-table th,
.cart-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.cart-summary {
  text-align: right;
  margin-top: 20px;
}
.cart-summary .checkout-button {
  width: 250px;
  background: #FC177F;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}
.cart-summary .checkout-button:hover {
  background: #FF66C4;
}

.remove-button {
  color: black;
  text-decoration: none;
  font-family: "Gotham Book";
  font-weight: bold;
}
.remove-button .remove-button:hover {
  color: #CB6CE6;
}

.frequent-purchases {
  margin-top: 30px;
}
.frequent-purchases h2 {
  font-size: 20px;
}
.frequent-purchases .title-achats {
  text-align: center;
  font-size: 3rem;
  margin-top: 40px;
  font-family: "jackie bold";
  color: #FC177F;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 38px;
  margin-top: 60px;
}
.container .wrapper {
  border: 2px solid #FC177F;
  width: 300px;
  height: 550px;
  border-radius: 20px;
}
@keyframes myAnim {
  0% {
    background-position: left center;
    background-size: 100%;
  }
  100% {
    background-position: left center;
    background-size: 150%;
  }
}
.container .banner-image {
  background-size: contain;
  height: 300px;
  border-radius: 20px;
  animation: myAnim 2s ease 0s 1 normal forwards;
}
.container h1 {
  font-family: "gotham-medium-italic";
  color: #FC177F;
  font-size: 1.4rem;
  margin: 0;
}
.container .button-wrapper {
  margin-top: 18px;
  text-align: center;
}
.container .button-wrapper .btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 1rem;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
  min-width: 120px;
}
.container .button-wrapper .btn + .btn {
  margin-left: 10px;
}
.container .button-wrapper .outline {
  background: transparent;
  background-color: #FC177F;
  border: 1px solid rgba(247, 0, 255, 0.366);
  transition: all 0.3s ease;
  text-decoration: none;
  color: white;
  font-family: "Gotham Book";
}
.container .button-wrapper .outline:hover {
  transform: scale(1.125);
  color: #CB6CE6;
  border-color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease;
}/*# sourceMappingURL=cart.css.map */