$font-gotham-medium-italic: 'gotham-medium-italic';
$font-gotham-book: 'Gotham Book';
$font-Visualist-Demo-Regular: 'VisualistDemoRegular';
$headerBackgroundImage: url('img/bg_header.png');
$font-size: 1.2rem;
$primary: #FC177F;
$secondary: #FF66C4;
$purple: #CB6CE6;
$black:#161616;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row-limit-size {
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    color: #fff;
    background-image: $headerBackgroundImage;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
   
    .header-content {
        display: flex;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
    }

    .header-search {
        display: flex;

        input[type="text"] {
            width: 200px;
            padding: 10px;
            border: none;
            border-radius: 5px 0 0 5px;
            background-color: rgba(255, 255, 255, 0.8);
            color: #333;
        }

        button[type="submit"] {
            padding: 10px;
            border: none;
            background-color: rgba(255, 255, 255, 0.8);
            color: #333;
            border-radius: 0 5px 5px 0;
            cursor: pointer;

            i {
                font-size: 1.2rem;
            }
        }
    }

    .header-logo {
        margin-right: 150px;

        .imgHeader {
            width: 180px;

        }
    }

    .header-account {
        a {
            color: #fff;
            margin-left: 20px;
            font-size: 1.8rem;
        }
    }
}

.header-nav {
        
    padding: 10px 0;

    ul {
        display: flex;
        list-style: none;

        li {
            margin-right: 100px;

            a {
                text-decoration: none;
                color: #fff;
                font-size: 1.5rem;
                font-family: $font-Visualist-Demo-Regular;
            }
        }
    }
}
