$font-gotham-medium-italic: 'gotham-medium-italic';
$font-gotham-book: 'Gotham Book';
$font-Visualist-Demo-Regular: 'VisualistDemoRegular';
$font-Jackie: 'jackie';
$font-JackieB: 'jackie bold';

$font-size: 1.2rem;
$primary: #FC177F;
$secondary: #FF66C4;
$purple: #CB6CE6;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row-limit-size {
    max-width: 1400px;
    margin: 0 auto;
}

@font-face {
    font-family: 'gotham-medium-italic';
    src: url(../fonts/gotham-medium-italic.ttf);
}

@font-face {
    font-family: 'gotham-Book';
    src: url(../fonts/Gotham-Book.otf);
}

@font-face {
    font-family: 'VisualistDemoRegular';
    src: url(../fonts/VisualistDemoRegular.ttf);
}

@font-face {
    font-family: 'jackie';
    src: url(../fonts/jackie.ttf);
}

@font-face {
    font-family: 'jackie bold';
    src: url(../fonts/Jackie\ Bold.otf);
}

.search-container {
    text-align: center;
    padding: 20px;

    h1 {
        width: 100%;
        font-size: 3rem;
        font-family: $font-JackieB;
        text-align: center;
        color: $primary;
    }

    form {
        margin-top: 20px;

        input {
            width: 300px;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            padding: 10px 20px;
            background-color: $primary;
            width: 150px;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

.container-card {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;

    .results-list {
        list-style-type: none;
        display: contents;


        & .card {
            width: 350px;
            height: 500px;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
            border: 2px solid deeppink;
            border-radius: 20px;
        }

        @keyframes myAnim {
            0% {
                opacity: 0;
                transform: scale(1.4);
            }
        
            100% {
                opacity: 1;
                transform: scale(1);
            }
        }
        .card-image {

            img {
                max-width: 100%;
                width: 250px;
                background-size: contain;

                border-radius: 20px;
                animation: myAnim 3s ease 0s 1 normal forwards;
            }
        }

        .card-description {

            text-align: center;

            h2 {
                width: 200px;
                font-size: 1.1rem;
                margin: 10px 0;
                font-family: $font-gotham-medium-italic;
            }

            p {
                font-size: 1rem;
                font-family: $font-gotham-medium-italic;
            }

            .card-buy-link {
                display: inline-block;
                background-color: $primary;
                color: #fff;
                text-decoration: none;
                padding: 5px 10px;
                border-radius: 5px;
                margin-top: 10px;
                font-weight: bold;
                transition: background-color 0.3s;

                &:hover {
                    background-color: $purple;
                }
            }
        }
    }
}