
<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <img src="{{ asset('img/logo2.png') }}" alt="logo">
        </div>
        <div class="footer-content">
          <div class="footer-column">
                <h5>Commande</h5>
                <ul>
                    <li><a href="#">Suivi de commande</a></li>
                    <li><a href="#">Délais de livraison</a></li>
                </ul>
            </div>
            <div class="footer-column">
              <h5>Boutique</h5>
                <ul class="list-content">
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">CGV</a></li>
                    <li><a href="#">Confidentialité</a></li>
                </ul>
            </div>
            <div class="footer-column">
              <h5>Contactez-nous</h5>
                <ul>
                    <li><a href="#">Nous Contacter</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div> 
             <div class="footer-social">
          <h5>Nous suivre</h5>
            <a href="https://www.facebook.com/ target="_blank""><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/?lang=fr" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        </div>
      
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-content">
            <div class="footer-bottom-inner">
                <div class="footer-bottom-text">
                    &copy;2023 HalalSweetsShop By Najia
                </div>
            </div>
        </div>
    </div>
</footer>